.card {
  height: 480px;
}

.card .card-img-top {
  height: 225px;
  width: 100%;
  display: block;
}

a.btn{
  background-color: darkseagreen;
}

a.btn:hover{
  background-color: olivedrab;
}

.page-title{
  color: darkseagreen;
}

.card-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.price{
  color: green;
  font-weight: bold;
}