/* header style */
.nav{
  font-size: 1em;
  padding: 0.5em 1em;
  text-decoration: none;
}

.active{
  text-decoration: none;
}

.nav-link{
  font-weight: bold;
  font-size: 1em;
  color: darkseagreen;
}

.nav-link:hover{
  color: olivedrab;
}

.logo{
  margin-right: 4vw;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6em;
}

button.btn.btn-header{
  background-color: #fff;
  border: none;
  color: darkseagreen;
  font-size: 1em;
  font-weight: bold;
}

button.btn.btn-header:hover{
  background-color: #fff;
  border: none;
  color: olivedrab;
  font-size: 1em;
  font-weight: bold;
}

a.dropdown-item{
  color: darkseagreen;
  font-weight: bold;
}

/* main style */
.container{
  margin: 0 auto;
  padding: 20px 0;
  padding-bottom: 50px;
}

.container input{
  padding: 5px;
}

.container form > div{
  margin-bottom: 10px;
}

.container form label{
  display: inline-block;
  width: 10vw;
}

/* footer style */
.page-footer{
  height: 50px;
  margin-top: -50px;
  line-height: 50px;
}
