.col-md-1 img{
    max-width: 100%;
}

.info {
    position: relative;
    border: rgb(207, 207, 207) solid 1px;
}

.info:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 14px 14px 14px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -14px;
    top: 10px;
}

.info:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 14px 14px 14px 0;
    border-color: transparent rgb(207, 207, 207);
    display: block;
    width: 0;
    z-index: 0;
    left: -15px;
    top: 10px;
}